* {
  margin: 0;
  scroll-behavior: smooth;
}

@font-face {
  font-family: HelveticaMd;
  src: url(../public/HelveticaNowTextMedium.ttf);
}
@font-face {
  font-family: Helvetica;
  src: url(../public/HelveticaNowText.ttf);
}
@font-face {
  font-family: Nike;
  src: url(../public/nike-glyphs.ttf);
}
@font-face {
  font-family: NikeTg;
  src: url(../public/Nike-TG.ttf);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.redColor {
  color: red;
}
.greenColor {
  color: green;
}
a{
  text-decoration: none;
  color: black;
}
